<a href="/word/<%= @word.id() %>">Back to Word</a>
<form action="/word/<%= @word.id() %>/definition/new" method="post">
  <h3>Add a new definition</h3>
  <div class="form group">
    <label for="definition">Definition:</label>
    <input type="text" name="definition" id="definition">
  </div>
  <div class="form-group">
    <label for="type">Part of Speech:</label>
    <select class="type form-control" name="type">
      <option>Noun</option>
      <option>Verb</option>
      <option>Adjective</option>
      <option>Conjunction</option>
      <option>Preposition</option>
      <option>Adverb</option>
      <option>Pronoun</option>
    </select>
  </div>
  <button type="submit" class="btn btn-info">Submit</button>
</form>
