<h3>Your Words:</h3>

<ul>
<% @words.each() do |word| %>
  <li><a href="/word/<%=word.id() %>"><%= word.word_name() %></a></li>
    <% end %>
</ul>

<p><a class="btn btn-primary" href="/word/new">Add a new word</a>
<a class="btn btn-primary" href="/sort/words">Sort your words</a></p>
