<form action="/" method="post">
  <h3>Add a new word</h3>
  <div class="form group">
    <label for="word">Word:</label>
    <input type="text" name="word" id="word">
  </div>
  <button type="submit" class="btn btn-info">Submit</button>
</form>
