<a href="/">Home</a>

<div class="word_info">
  <h2><%=@word.word_name()%>:</h2>
  <ol>

    <% @word.word_definition. each() do |definition| %>
    <li>(<%= definition.part_of_speech() %>) <%= definition.definition_sentence() %></li>
    <%end %>

  </ol>
<p><a class="btn btn-primary" href="/word/<%= @word.id() %>/definition/new">Add Definition</a></p>
</div>
